<div class="card" data-aos="fade-up">
	<div class="card-header">
		<img [src]="publication.img" alt="img" class="rounded shadow object-fit-cover w-100" loading="lazy"
			 style="height: 250px">
	</div>
	<div class="card-body">
		<p class="text-center fs-4 m-0">{{ publication.name }}</p>
		<p class="fs-4 m-0">{{ 'Цена: ' + publication.price }}</p>
		<p *ngIf="getRole() === 'MANAGER' || getUserId() === publication.ownerId"
		   class="fs-4 m-0">{{ 'Статус: ' + publication.statusName }}</p>
	</div>
	<div class="card-footer">
		<a (click)="publicationPage(publication.id)" class="btn btn-info w-100">Подробнее</a>
	</div>
</div>
