<div class="container">

	<h1 class="text-center mb-5" data-aos="zoom-in">Добавить публикацию</h1>

	<div *ngIf="message" class="alert alert-warning text-center fw-bold" data-aos="zoom-in" role="alert">
		{{ message }}
	</div>

	<div class="row mb-5 d-flex justify-content-center" data-aos="zoom-in">
		<div class="col-4">
			<a (click)="router.navigate(['/publications'])" class="btn btn-primary w-100">Назад</a>
		</div>
	</div>

	<form (ngSubmit)="addPublication()" [formGroup]="publication" class="row" data-aos="fade-up">
		<div class="col mb-2">
			<p class="fs-4 m-0">Наименование</p>
			<input class="form-control" formControlName="name" type="text">
		</div>
		<div class="col mb-2">
			<p class="fs-4 m-0">Цена</p>
			<input class="form-control" formControlName="price" min="0.01" step="0.01" type="number">
		</div>
		<div class="col mb-2">
			<p class="fs-4 m-0">Фото</p>
			<input class="form-control" type="file" accept="image/*" (change)="updateImg($event)">
		</div>
		<div class="col-12 mb-2">
			<p class="fs-4 m-0">Описание</p>
			<textarea class="form-control" formControlName="description"></textarea>
		</div>
		<div *ngIf="!publication.invalid && file !== null" class="col-12 mb-2" data-aos="zoom-in">
			<button class="btn btn-primary w-100" type="submit">Добавить</button>
		</div>
	</form>

</div>
