<div class="container">

	<h1 class="text-center mb-5" data-aos="zoom-in">{{ publication.name }}</h1>

	<div *ngIf="message" class="alert alert-warning text-center fw-bold" data-aos="zoom-in" role="alert">
		{{ message }}
	</div>

	<div class="row mb-5 d-flex justify-content-center" data-aos="zoom-in">
		<div class="col-3">
			<a appNavigate [navigateURL]="'publications'" class="btn btn-primary w-100">Назад</a>
		</div>
		<div *ngIf="userid === ownerid && role === 'USER'" class="col-3">
			<a appNavigate [navigateURL]="'publicationUpdate'" [queryParams]="{id: id}" class="btn btn-success w-100">Обновить</a>
		</div>
		<div *ngIf="userid === ownerid && role === 'USER'" class="col-3">
			<a (click)="deletePublication()" class="btn btn-danger w-100">Удалить</a>
		</div>
		<div *ngIf="userid === ownerid && publication.status === 'CORRECTION' && role === 'USER'" class="col-3">
			<a (click)="updateStatusWaiting()" class="btn btn-secondary w-100">На проверку</a>
		</div>
		<div *ngIf="userid === ownerid && publication.status === 'CLOSED' && role === 'USER'" class="col-3">
			<a (click)="updateStatusWaiting()" class="btn btn-secondary w-100">На проверку</a>
		</div>
		<div *ngIf="(role === 'MANAGER' || userid === ownerid) && publication.status === 'DONE'"
			 class="col-3">
			<a (click)="updateStatusClosed()" class="btn btn-secondary w-100">Закрыть</a>
		</div>
		<div *ngIf="role === 'MANAGER' && publication.status === 'WAITING'" class="col-3">
			<a (click)="updateStatusDone()" class="btn btn-success w-100">Одобрить</a>
		</div>
		<div *ngIf="role === 'MANAGER' && publication.status === 'WAITING'" class="col-12 mt-2">
			<textarea [(ngModel)]="note" class="form-control mb-2" placeholder="Примечание"></textarea>
			<button *ngIf="note != ''" type="button" class="btn btn-warning w-100" data-aos="zoom-in"
					(click)="updateStatusCorrection()">На правки
			</button>
		</div>
	</div>

	<div class="row mb-5" data-aos="fade-up">
		<div class="col-4">
			<img [src]="publication.img" alt="img" class="rounded shadow w-100 object-fit-cover" loading="lazy">
		</div>
		<div class="col">
			<p *ngIf="role === 'MANAGER' || userid === ownerid"
			   class="fs-4 m-0">{{ 'Статус: ' + publication.statusName }}</p>
			<p class="fs-4 m-0">{{ 'Цена: ' + publication.price }}</p>
			<p class="fs-4 m-0">{{ 'Описание: ' + publication.description }}</p>
		</div>
	</div>

	<div *ngIf="userid !== ownerid && role === 'USER' && sortedApplications.length === 0" class="mb-5"
		 data-aos="fade-up">
		<textarea class="form-control mb-2" [(ngModel)]="description" placeholder="Заполните заявку"></textarea>
		<button *ngIf="description != ''" type="button" class="btn btn-success w-100" data-aos="zoom-in"
				(click)="addApplication()">Подать заявку
		</button>
	</div>

	@for (i of sortedApplications; track i.id) {
		<div class="row mb-3" data-aos="fade-up">
			<div class="col mb-2">
				<p class="fs-4 m-0 text-center">{{ i.ownerName }}</p>
			</div>
			<div class="col mb-2">
				<p class="fs-4 m-0 text-center">{{ 'Статус: ' + i.statusName }}</p>
			</div>
			<div class="col-12 mb-2">
				<p class="fs-4 m-0">{{ i.description }}</p>
			</div>
			<div class="col" *ngIf="userid === ownerid && i.status === 'WAITING'">
				<button type="button" class="btn btn-success w-100" (click)="doneApplication(i.id)">Одобрить</button>
			</div>
			<div class="col" *ngIf="userid === ownerid && i.status === 'WAITING'">
				<button type="button" class="btn btn-warning w-100" (click)="rejectApplication(i.id)">Отклонить</button>
			</div>
			<div class="col-12">
				<hr>
			</div>
		</div>
	}

</div>
